@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --clr-primary: #004d00;
    --clr-danger: #ff4d4d;
    --clr-success: #4dff4d;
    --clr-white: #ffffff;
    --clr-info-dark: #031957;
    --clr-info-light: #002756;
    --clr-dark: #000000;
    --clr-warning: #ffcc00;
    --clr-light: #f0f0f0;
    --clr-primary-variant: #006600;
    --clr-dark-variant: #1a1a1a;
    --clr-color-background: #d2ffe3;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;


    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--clr-light);

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;
}


body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    background: var(--clr-color-background);
}


.container1 {
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 14rem;
    margin: 0 auto;
}

a {
    color: var(--clr-dark);
}


h1 {
    font-weight: 800;
    font-size: 1.8rem;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 0.87rem;
}
h4 {
    font-size: 0.8rem;
}
h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}
.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color: var(--clr-info-dark);
}
p {
    color: var(--clr-dark-variant);
}
b {
    color: var(--clr-dark);
}
.primary {
    color: var(--clr-primary);
}
.success {
    color: var(--clr-success);
}
.danger {
    color: var(--clr-danger);
}
.warning {
    color: var(--clr-warning);
}


/*aside section*/

aside {
    height: 100vh;
}

aside .top {
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
}

aside .logo  {
    display: flex;
    gap: 1rem;
}

/*logo image*/
.logo img {
    width: 50px;   /* adjust as needed */
    height: auto;
    display: block;
}

aside .top div.close {
    display: none;
}

/***********
sidebar
************/

aside .sidebar {
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    height: 85vh;
    position: relative;
    top: 1rem;
}

aside h3 {
    font-weight:400;
}

aside .sidebar a {
    display: flex;
    color: var(--clr-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    height: 3.2rem;
    transition: all .1s ease-in;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all .1s ease-in;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

aside .sidebar a.active {
    background-color: var(--clr-light);
    color: var(--clr-primary);
    margin-left: 0;
  /*border-left: 5px solid var(--clr-primary); */
}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 100%;
    background-color: var(--clr-primary);
}

aside .sidebar a:hover {
    background-color: var(--clr-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
    transition: .4s ease;
}








/* to do list */

.container {
    width: 100%;
    min-height: 50vh;
    background: rgb(4, 82, 0);
    padding: 50px;
    border-radius: 50px;
}

.todo-list {
    width: 100%;
    max-width: 540px auto;
    background: #d2ffe3;
    margin: 50px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 80px;
}

.todo-list h2 {
    align-items: center;
    margin-bottom: 20px;
    color: #002756;
    display: flex;
}

.todo-list h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ccb4bb;
    padding-left: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    background: transparent;
    font-weight: 14px;
    padding: 10px;
    outline: none;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #031957;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 40px;
}

ul li {
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('../images/unchecked.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url('../images/checked.png');
}

ul li span {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}